/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

@font-face {
    font-family: "Yekan Bakh";
    src: url("./assets/fonts/YekanBakh-Regular.eot");
    src: url("./assets/fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/YekanBakh-Regular.woff2") format("woff2"),
        url("./assets/fonts/YekanBakh-Regular.woff") format("woff"),
        url("./assets/fonts/YekanBakh-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* colors */
:root {
    --blue: #78bcc4;
    --purple: #002c3e;
    --white: #f7f8f3;
    --LightWhite: #fff;
    --red: #f7444e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Yekan Bakh";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
